.profile__name-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 16px;
}

@media (max-width: 790px) {
    .profile__name-container {
        margin-bottom: 14px;
    }
}