.auth__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.96px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

.auth__link:hover {
  opacity: 0.6;
}