.popup__container {
    max-width: 358px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 34px 36px 37px 36px;
    position: relative;
    

}

@media (max-width: 590px) {
    .popup__container {
        width: 238px;
        margin: 0 19px 0;
        padding: 25px 22px 25px;
    }

}